body {
    margin: 0;
    padding: 0;
}

.bg-content {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw; /* Largura do viewport */
    height: 100vh; /* Altura do viewport */
}

.bg-div {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.typebot {
    position: fixed;
    right: 0;
    top: 10vh; /* 10% da altura do viewport */
    width: 100%;
    height: 50vh; /* 50% da altura do viewport */
}

/* Media Queries para ajustes em telas menores */
@media screen and (max-width: 768px) {
    .typebot {
        top: 5vh; /* Ajuste para telas menores */
        height: 60vh; /* Ajuste para telas menores */
    }
}
